*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    width: 150px;
}

#pagina-home{
    height: 773px;
    background: linear-gradient(rgba(17,17,15,0.404), rgba(34,30,4,0.685)), url(../Img/img-menu.jpg);
    background-size:cover;
}
.menu-principal ul{
    list-style: none;
    /*usado para remover os marcadores padrões de lista*/
}
.menu-principal ul li {
    display: inline-block;
/* Faz com que cada item da lista se comporte como um bloco de linha*/
}
.menu-principal ul li a {
    color: white;
    text-decoration: none;
    /*Remove o sublinhado padrão dos links, deixando-os mais limpos*/
    text-transform: uppercase;
    /*
    upercase = Converte tudo para maiusculo
    lowercase = Converte tudo para minusculo
    none = remove qualquer transformação
    */
    padding: 5px 20px;
    border: 1px solid transparent;
    /*Define uma borda invisivel ao redor do link. isso pode ser util para evitar mudanças 
    de layout ao passar o mouse, ja que a borda aparece durante a intervenção*/
    transition: 0.06s ease;
    /*Define a transição suave para as propriedades que mudam (como cor de fundo), que ocorrerá em 0.06 segundos.
    isso cria um efeito visual agradável durante a interação.*/
}
.menu-principal ul li a:hover{
    background-color: white;
    /* aqui é para colocar as cores das escritas do menu principal, tanto a cor da letra, como tambem a cor que fica as escritas quando passa o mouse e faz a animação*/
    color: black;
}
.menu-principal ul li .link-ativo{
    background: white;
    color: black;
}
.categoria{
    display: flex;
    /*Habilita a função de alinhamento e espaçamento*/
    align-items:flex-end;
    justify-content: space-between;

}

h1{
    font-size: 70px;
    color: white;
    margin: 30px;
}

.btn{
    border: 1px solid white;
    padding: 10px 80px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    margin: 10px;
}

.btn:hover{
    background: white;
    color: black;
}

.conteudo-banner{
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*
    row: organize os itens horizontalmente, da esquerda para a direita
    row-reverse: organiza os itens horizontalmente, da direta para a esquerda
    column-reverse: organiza os itens verticalmente, de baixo para cima.
    column: organiza os itens verticalmente, de cima para baixo.
    */
}

.secao-dois{
    justify-content: center;

}
.img1{
    width: 314px;
    height: 368px;
    /*COLOCAR O LUGAR DE ONDE VAI FICAR NA TELA, CENTER E ETC*/
}
.img2{
    width: 314px;
    height: 368px;
    /*COLOCAR O LUGAR DE ONDE VAI FICAR NA TELA, CENTER E ETC*/
}
.img3{
    width: 314px;
    height: 368px;
    /*COLOCAR O LUGAR DE ONDE VAI FICAR NA TELA, CENTER E ETC*/
}
.escritas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0; /* Remove a margem padrão do h2 */
}
